.DS_Store
/.settings
/.project
/.texlipse
/.gitignore
/example.pdf
/tmp

*.sublime-workspace
*.pdf

# Latex files related
*.brf
*.lol
*.mtc1
*.synctex(busy)
*.synctex.gz(busy)
*.run.xml
*.bcf
*.cut
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.mw
*.tpc
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.fls
*.loq
